.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup-overlay.openPopup {
    display: flex;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.popup-content video {
    width: 100%;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

