{% extends 'core/base.html' %}
{% load static %}
{% block body %}
{% include 'core/home_menu.html' %}
<br><br><br><br><br><br><br><br><br>
    <!-- BLOG-SINGLE
    ================================================== -->
    <div class="container py-8 pt-lg-11">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                <h1 class="text-capitalize">{{ news_singel.title }}</h1>

                <p class="me-xl-12">Master Figma app to get a job in UI Design, User Interface, User Experience design, Web Design & UX design.</p><br><br>
                <img src="{{ news_singel.images.url }}" alt="..." class="img-fluid rounded mb-8">

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row mb-8 mb-md-12">
            <div class="col-xl-8 mx-auto">
                <h3 class="">Course Description</h3>
                <p class="mb-6 line-height-md">{{ news_singel.description }}</p>

                <blockquote>
                    <p>Aliquam hendrerit sollicitudin purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, at malesuada orci congue.
                        <cite>Luis Pickford</cite>
                    </p>
                </blockquote>


                

                <h3 class="mb-5">Requirements</h3>
                <ul class="list-style-v2 list-unstyled mb-10">
                    <li>We do not require any previous experience or pre-defined skills to take this course. A great orientation would be enough to master UI/UX design.</li>
                    <li>A computer with a good internet connection.</li>
                    <li>Adobe Photoshop (OPTIONAL)</li>
                </ul>

            </div>
        </div>

        <div class="row align-items-end mb-4 mb-md-7">
            <div class="col-md mb-4 mb-md-0">
                <h1 class="mb-1">Latest News</h1>
                <p class="font-size-lg mb-0 text-capitalize">Discover your perfect program in our courses.</p>
            </div>
            <div class="col-md-auto">
                <a href="{% url 'blog' %}" class="d-flex align-items-center fw-medium">
                    Browse All
                    <div class="ms-2 d-flex">
                        <!-- Icon -->
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>

        <div class="row row-cols-md-2 row-cols-lg-3 mb-8 mb-md-11">
            {% for resent in lat_blog %}
            <div class="col-md mb-5 mb-lg-0">
                <!-- Card -->
                <div class="card border shadow p-2 lift sk-fade">
                    <!-- Image -->
                    <div class="card-zoom position-relative">
                        <a href="course-single-v1.html" class="card-img d-block sk-thumbnail img-ratio-3"><img class="rounded shadow-light-lg img-fluid" src="{{ resent.images.url }}" alt="..."></a>

                        <a href="course-single-v1.html" class="badge sk-fade-bottom badge-lg badge-purple badge-pill badge-float bottom-0 left-0 mb-4 ms-4 px-5 me-4">
                            <span class="text-white fw-normal font-size-sm">{{ resent.category }}</span>
                        </a>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-2 pb-0 pt-4">
                        <ul class="nav mx-n3 mb-3">
                            <li class="nav-item px-3">
                                <a href="course-single-v1.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-3 d-flex">
                                        <!-- Icon -->
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <div class="font-size-sm">{{ resent.post_author }}</div>
                                </a>
                            </li>
                            <li class="nav-item px-3">
                                <a href="course-single-v1.html" class="d-flex align-items-center text-gray-800">
                                    <div class="me-2 d-flex">
                                        <!-- Icon -->
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </div>
                                    <div class="font-size-sm">{{ resent.post_author }}</div>
                                </a>
                            </li>
                        </ul>

                        <!-- Heading -->
                        <a href="course-single-v1.html" class="d-block"><h5 class="line-clamp-2 h-48 h-lg-52">{{ resent.post_author }}</h5></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% include 'core/footer.html' %}

{% endblock %}