{% extends 'core/base.html' %}
{% load static %}
{% block body %}
{% include 'core/home_menu.html' %}


    <!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Blog List v1</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Blog List v1
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>


    <!-- BLOG LIST V1
    ================================================== -->
    <div class="container mb-11">
        <div class="row">
            <div class="col-md-7 col-lg-8 col-xl-9 mb-5 mb-md-0">
                {% for news in news %}
                <!-- Blog Post -->
                <div class="row mb-6 align-items-center">
                    <div class="col-lg-6 col-xl-5 mb-6 mb-lg-0">
                        <a href="{{ news.get_url }}" class="d-block sk-thumbnail img-ratio-4 rounded lift">
                            <img src="{{ news.images.url }}" alt="Image Loading...." class="rounded img-fluid">
                        </a>
                    </div>

                    <div class="col-lg-6 col-xl-7">
                        <a href="blog-single.html" class="d-inline-block">
                            <h5 class="text-blue">{{ news.category }}</h5>
                        </a>

                        <a href="{{ news.get_url }}" class="d-block me-xl-12">
                            <h3 class="">{{ news.title }}</h3>
                        </a>

                        <p class="line-clamp-3 mb-6 mb-xl-8 me-xl-6">{{ news.description }}</p>

                        <div class="d-md-flex align-items-center">
                            <div class="border rounded-circle d-inline-block mb-4 mb-md-0 me-4">
                                <div class="p-1">
                                    <img src="{% static 'assets/img/avatars/avatar-1.jpg' %}" alt="..." class="rounded-circle" width="52" height="52">
                                </div>
                            </div>

                            <div class="mb-4 mb-md-0">
                                <a href="blog-single.html" class="d-block"><h6 class="mb-0">{{ news.post_author }}</h6></a>
                                <span class="font-size-sm">{{ news.post_date }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                    <!-- PAGINATION
    ================================================== -->
    <nav class="mt-8" aria-label="Page navigationa">
        <ul class="pagination justify-content-center">
        {% if news.has_previous %}
            <li class="page-item">
            <!--
                <a class="page-link" href="?page=1" tabindex="-1" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                </a>
            -->
                <a class="page-link" href="?page={{ news.previous_page_number }}" tabindex="-1" aria-label="Previous">
                    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                </a>

                
            </li>
        {% endif %}

        {% for page_num in news.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if page_num == news.number %} current{% endif %}" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}

        {% if news.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                </a>
                <!--
                <a class="page-link" href="?page={{ blogging.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                </a>
                -->
                
            </li>
        {% endif %}
        </ul>
    </nav>

            </div>

            <div class="col-md-5 col-lg-4 col-xl-3">
                <!-- BLOG SIDEBAR
                ================================================== -->
                <div class="">
                    <form class="" action="" method = 'GET'>
                        <div class="border rounded mb-6">
                            <div class="input-group">
                                <input class="form-control form-control-sm placeholder-dark border-end-0 shadow-none" type="text" name='q' placeholder="Type a keyword" value = "{{request.GET.q}}" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-sm my-2 my-sm-0 text-secondary icon-uxs" type="submit">
                                        <!-- Icon -->
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="border rounded mb-6 p-5 py-md-6 ps-md-6 pe-md-4">
                        <h4 class="mb-5">Category</h4>
                        <div class="nav flex-column nav-vertical">
                            {% for cat in category %}
                            <a href="#" class="nav-link py-2">{{ cat.cat_name }} ({{ cat.news_set.all.count }})</a>
                            {% endfor %}
                        
                        </div>
                    </div>

                    <div class="border rounded mb-6 p-5 py-md-6 ps-md-6 pe-md-4">
                        <h4 class="mb-5">Recent Posts</h4>
                        <ul class="list-unstyled mb-0">
                            {% for resent in lat_blog %}
                            <li class="media mb-6 d-flex">
                                <a href="blog-single.html" class="mw-70p d-block me-5">
                                    <img src="{{ resent.images.url }}" alt="..." class="avatar-img rounded-lg h-70p o-f-c">
                                </a>
                                <div class="media-body flex-shrink-1">
                                    <a href="blog-single.html" class="d-block">
                                        <h6 class="line-clamp-2 mb-1 fw-normal">{{ resent.title }}</h6>
                                    </a>
                                    <span>{{ resent.post_date }}</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'core/footer.html' %}

{% endblock %}