{% extends 'core/base.html' %}
{% load static %}
{% block body %}
{% include 'core/home_menu.html' %}

    <!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Book Liberty</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Book Liberty
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>


    <!-- CONTROL BAR
    ================================================== -->
    <div class="container mb-6 mb-xl-8 z-index-2">
        <div class="d-xl-flex align-items-center">
            <p class="mb-xl-0">We found <span class="text-dark">{{book_count}} courses</span> available for you</p>
            <div class="ms-xl-auto d-xl-flex flex-wrap">
                <div class="mb-4 mb-xl-0 ms-xl-6">
                    <select class="form-select form-select-sm text-dark shadow-none dropdown-menu-end" data-choices>
                        <option>A-to-Z</option>
                        <option>Another option</option>
                        <option>Something else here</option>
                    </select>
                </div>

                <div class="mb-4 mb-xl-0 ms-xl-6">
                    <div class="border rounded d-flex align-items-center choices-label h-50p">
                        <span class="ps-5">Sort by:</span>
                        <select class="form-select form-select-sm text-dark border-0 ps-1 bg-transparent flex-grow-1 shadow-none dropdown-menu-end" data-choices>
                            <option>Default</option>
                            <option>New Courses</option>
                            <option>Price Low to High</option>
                            <option>Price High to low</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SHOP
    ================================================== -->
    <div class="container pb-4 pb-xl-7">
        <div class="row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mb-4">
            {% for book in book %}
            <div class="col-md pb-4 pb-md-6">
                <!-- Card -->
                <div class="card border shadow lift p-5 sk-fade product-item">
                    <!-- Product Image -->
                    <a href="shop-single.html" class="card-zoom mb-3">
                        <div class="card-img sk-thumbnail img-ratio-one">
                            <img class="rounded img-fluid" src="{{ book.cover.url }}" alt="...">
                        </div>
                    </a>

                    <!-- Product Info -->
                    <div class="card-footer p-0 position-relative">
                        <div class="product-wrapper">
                            <div class="product-info text-center pb-3">
                                <!-- Product Title -->
                                <a href="shop-single.html" class="d-block">
                                    <h5 class="mb-0 line-clamp-1">{{ book.name }}</h5>
                                </a>

                                <!-- Product Price -->
                                <ins class="h6 mb-0 d-block text-secondary">$415.99</ins>
                            </div>

                            <div class="add-btn d-flex">
                                <a href="{% url 'book' id=book.id %}" class="btn btn-sm btn-blue btn-block py-3 text-center my-auto">
                                    <!-- Icon -->
                                    <svg width="13" height="15" viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.2422 3.51562H10.4567C10.2239 1.53873 8.53839 0 6.5 0C4.46161 0 2.7761 1.53873 2.54334 3.51562H0.757812C0.434199 3.51562 0.171875 3.77795 0.171875 4.10156V14.4141C0.171875 14.7377 0.434199 15 0.757812 15H12.2422C12.5658 15 12.8281 14.7377 12.8281 14.4141V4.10156C12.8281 3.77795 12.5658 3.51562 12.2422 3.51562ZM6.5 1.17188C7.89113 1.17188 9.04939 2.18716 9.27321 3.51562H3.72679C3.95062 2.18716 5.10887 1.17188 6.5 1.17188ZM11.6562 13.8281H1.34375V4.6875H2.51562V6.44531C2.51562 6.76893 2.77795 7.03125 3.10156 7.03125C3.42518 7.03125 3.6875 6.76893 3.6875 6.44531V4.6875H9.3125V6.44531C9.3125 6.76893 9.57482 7.03125 9.89844 7.03125C10.2221 7.03125 10.4844 6.76893 10.4844 6.44531V4.6875H11.6562V13.8281Z" fill="currentColor"/>
                                    </svg>

                                    <span class="font-size-sm ms-2 fw-normal">Add to Cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- PAGINATION
        ================================================== -->
        <nav class="mb-9" aria-label="Page navigationa">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
{% include 'core/footer.html' %}
{% endblock %}